body {
    width: 100%;
}


.core {
    height: 25vh;
    width: 100%;
    margin-bottom: 100px;
    border: 1px solid black;
}

.unknownString {
    height: 15vh;
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.word {
    font-size: xx-large;
}


.keyboard {
    height: 50vh;
    width: 70%; 
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.secondLast {
    width: 85%;
    margin: 0 auto;
}

.key {
    padding: 2.5vw;
    
    border: 1px solid black;
}

.key:hover {
    background-color: gray;
}

.key:active {
    background-color: white;
}


@media only screen and (max-width: 799px) {
    body {
        width: 100%;
    }

    .key {
        padding: 2.2vw;
        border: 1px solid black;
    }
}

@media (min-width: 800px) {
    body {
        width: 100%;
    }
}

img {
    width: 100px;
    height: auto;
  }


