body {
    margin-top: 35vh;
    background-color: rgb(185, 185, 185);
}

h1 {
    text-align: center;
}

div {
    padding: 30px;
    text-align: center;
    width: 15%;
    margin:auto;
    border: 5px solid black;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px rgb(10, 10, 10);
}