body {
    margin-top: 25vh;
    background-color: rgb(185, 185, 185);
}

h1 {
    padding: 0;
    margin: 1%;
}

div {
    padding: 30px;
    padding-top: 15px;
    text-align: center;
    border: 5px solid black;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

p {
    padding: 0;
    margin: 1%;
    margin-bottom: 10%;
    color: rgb(75, 75, 75);
}

.start{
    top: 25vh;
    margin:auto;
    width: 15%;
    min-width: 260px;
    box-shadow: 4px 8px rgb(10, 10, 10);
}

.items {
    margin:auto;
    margin-top: 5vh;
    width: 10%;
    min-width: 200px;
    box-shadow: 2px 4px rgb(10, 10, 10);
}

.login {
    position:absolute;
    top: 2px;
    right: 2px;
    box-shadow: 0 0;
}

.popout {
    max-width:2%;
    background-color: rgb(236, 236, 236);
    border: 5px solid rgb(10, 10, 10);
}